* {
  margin: 0;
  box-sizing: border-box;
}

body {
  margin-right: 4%;
  margin-left: 4%;
  width: 92%;
  max-width: 1300px;
  font-family: 'Roboto', sans-serif;
}

.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

#logo {
  margin-right: auto;
  margin-top: 70px;
  margin-bottom: 70px;
}
nav {
  margin-top: 60px;
  margin-bottom: 60px;
}
nav a {
  margin-left: 80px;
  text-decoration: none;
  color: #4d4d4d;
}

nav a:hover {
  color: #667eb7;
}

.hero {
  height: 205px;
  background-color: #f1f4f5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  width: 100vw;
  margin-bottom: 80px;
  margin-left: -4.6%;
}

.hero h1 {
  color: #4d4d4d;
  padding-bottom: 30px;
  font-weight: 300;
  margin-left: 2%;
}

.hero p {
  color: #a3a4a5;
  padding-top: 0;
  margin-left: 2%;
}

.portfolio-heading {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
}

button {
  padding: 10px;
  background-color: #ef5f60;
  color: #fff;
  border: 0px;
  margin-bottom: 30px;
}

.portfolio-heading h3 {
  color: #4d4d4d;
}

.img-grid-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.contact h2 {
  padding-top: 60px;
  padding-bottom: 20px;
  color: #4d4d4d;
  font-weight: 300;
}

.title {
  margin-bottom: 20px;
  color: #4d4d4d;
}

section p {
  color: #4d4d4d;
  font-weight: 300;
  line-height: 1.5rem;
}

.services {
  display: flex;
  list-style-type: none;
  justify-content: space-around;
  text-align: center;
}

.services img {
  margin-top: 50px;
}

li p {
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 60px;
}

.articles-row img {
  float: left;
}

.articles-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  list-style-type: none;
  margin-top: 30px;
}

.articles-row img {
  margin-right: 30px;
}

.articles-row p {
  line-height: 1.5rem;
  margin-top: 20px;
  overflow: hidden;
}
.articles-row:after {
  display: flex;
  content: '';
  clear: both;
}

h5 {
  color: #a3a4a5;
  font-weight: 300;
  margin-bottom: 10px;
}

footer {
  height: 205px;
  background-color: #2d2d30;
  width: 100vw;
  margin-left: -4.6%;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

footer h3 {
  color: #757576;
}

.social-media button {
  margin-top: 20px;
  margin-right: 5px;
  width: 30px;
  height: 30px;
  border-radius: 50px;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}

.btn1 {
  background-color: #fbaa56;
}

.btn2 {
  background-color: #667eb7;
}

.btn3 {
  background-color: #6cc1eb;
}

.btn4 {
  background-color: #e498c3;
}

.btn5 {
  background-color: #da535b;
}

@media (min-width: 768px) and (max-width: 1271px) {
  nav a {
    margin-left: 30px;
  }

  .hero {
    align-items: center;
  }

  .img-grid-row {
    flex-wrap: nowrap;
  }

  .img-grid-row img {
    height: 200px;
    width: 300px;
  }

  ul.services {
    flex-wrap: wrap;
  }

  ul.services li {
    width: 50%;
  }

  section.blog {
    display: flex;
    flex-wrap: wrap;
  }

  ul.articles li {
    text-align: center;
    width: 50%;
  }

  .articles-row li {
    margin: 0;
  }

  .articles-row img {
    float: none !important;
  }

  .articles-row h5 {
    padding-top: 20px;
  }
}

@media (max-width: 767px) {
  .main-container {
    text-align: center;
  }

  nav {
    text-align: center;
  }
  nav a {
    margin-left: 10px;
    margin-bottom: 20px;
  }

  .hero {
    text-align: center;
    height: 300px;
  }

  .hero p {
    padding: 0 15px;
  }

  section.portfolio img {
    margin: 0;
  }

  .img-grid-row {
    margin: 0;
  }

  .contact {
    text-align: center;
    padding: 0 10px;
  }
  .section-header {
    margin: 40px;
  }

  .services {
    display: flex;
    flex-direction: column;
  }

  ul.articles li {
    text-align: center;
    width: 100%;
  }

  .articles-row {
    flex-direction: column;
  }

  .articles-row img {
    float: none !important;
    text-align: center;
  }

  .articles-row h5 {
    padding-top: 20px;
  }

  .articles-row p {
    margin-bottom: 5px;
  }

  footer {
    margin-top: 40px;
    padding: 20px;
    text-align: center;
  }
}
